<ion-content [fullscreen]="true">
  <div id="logo"> <img src="https://lh5.googleusercontent.com/uZHpBfVBeRFFv7km5JOc3MzvzVqPr12uKP7GVaUbK1gdeJK0Ts8ftUyGMgj0yF05eDqu0zOOi2zhIJmovUDM3rz7Px_zf18M7dHaPLR5NRENU4em-9SaJSwwFnWsLDAv-89tVU_k">
  </div>
  <ion-textarea class="input" placeholder="Name"></ion-textarea>
  <ion-textarea class="input" placeholder="Email"></ion-textarea>
  <ion-textarea class="input" placeholder="Password"></ion-textarea>

  <ion-button id="button" expand="block" color="primary" [routerLink]="['tab2']">Buyer</ion-button>
  <ion-button id="button" expand="block" color="primary">Seller</ion-button>


</ion-content>