<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-img
        src="https://lh3.googleusercontent.com/EaxB564cOIVjEl7brjbfooDR_HcdPpkMFf8fbLzdNRX4ttxMiealKyI5He2JUX9T72X0tJDQS4JHjrFH4pNnYgiRvhuPs5odr5T0nX4wLuyoSINzLBLUN30BRGHdkIqb5lpi4_0B">
      </ion-img>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-img
        src="https://lh5.googleusercontent.com/K92Azprz9MQslFm6D65I3zv34M1PTTAk1_dVigtHJ0EGrymqk_dzHMG87rTjwbWKT-NXXeD2qLiUvUIgq9huRvUSGKBIAWSAHHpleA_FvAqYl9W8CJC1zi2AeNanhGfkuUhqoW8a">
      </ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>