<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<h1>Categories</h1>

<div class="scroll">
  <ion-button class="button" [routerLink]="['vegetables']" color="secondary">Vegetables</ion-button>

  <ion-button class="button" [routerLink]="['fruits']" color="secondary">Fruits</ion-button>

  <ion-button class="button" color="secondary" (click)="change()" checked>Seeds</ion-button>


</div>


<ion-content>

  <h2 (click)="change()">{{text}}</h2>
  <h6>Miss P</h6>
  <ion-button class="farmers">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Woman-Farmer.jpg" [routerLink]="['profile']">
    <ion-label></ion-label>
  </ion-button>
</ion-content>