<ion-content>
  <ion-searchbar id="search"></ion-searchbar>

  <ion-label>Categories</ion-label>
  <br>
  <br>

  <div class="scroll">
    <ion-button class="button" (click)="change()">Vegetables</ion-button>

    <ion-button class="button" [routerLink]="['fruits']">Fruits</ion-button>

    <ion-button class="button">Seeds</ion-button>

    <ion-button class="button">Nuts</ion-button>

    <ion-button class="button">Dairy</ion-button>


  </div>
  <br>

  <ion-label>{{page}}</ion-label>
  <br>
  <br>

  <div class="scrolly">

    <img class = "farmers" src="https://lh4.googleusercontent.com/nmL8zCIi9Mb_hpmGpAJzdBIoY_StAyidGs3CRbDrBCnO_kvK_P24sdCxPC3kxYhjNru8ev7SErh_OPJyUrXwy4rwOMtN4qlFSUxda68z0CjDxQ7qqTuFkHKgNaYYByU2hnjfxXXK" >

    <br>

    <img class = "farmers" src="https://lh6.googleusercontent.com/DaU5W-jC8zJpkMK9RWx8NKFaznnxzIW2JJoefib7of2lOKp4eKeCu1EZXnMJInujywznbKpV3p92s2kVRiNYsSUtCtzmojwGeVSSCZvx_E1vlKS0Y0uQujts7ESMRW16tQ0EE_nM" [routerLink]="['profile']">
  </div>
</ion-content>