<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Categories</h1>
  <section class="full-width">
    <ion-button expand="full" [routerLink]="['vegetables']" color="secondary">Vegetables</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" [routerLink]="['fruits']" color="secondary">Fruits</ion-button>
  </section>
  <section class="full-width">
    <ion-button expand="full" [routerLink]="['seeds']" color="secondary">Seeds</ion-button>
  </section>
  <h2> Top Rated Farmers</h2>
  <h6>Miss P</h6>
  <ion-item>
    <ion-button>
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Woman-Farmer.jpg">
      <ion-label> Miss P</ion-label>
    </ion-button>
  </ion-item>
</ion-content>