.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  //-webkit-overflow-scrolling: touch;

  .button {
    display: inline-block;
    width: 40%;
    height: 100%;
  }
}
#search{
  --border-radius: 25px;
  --placeholder-color: 000000;
  --ion-color: 000000;
  
}
