<ion-content>
  <img id = "back" src = "https://lh4.googleusercontent.com/kA2zahKHGnt3oFNqYAZ0gAZAtbGAu6B_1ZxHlMt0hMYGQYtUXiZ5VW5BBqZIELBMtnvwAKjm5Qq6QYMIhjFjQXxe_-J21sYlZKg8UAEuJjLk6eXN4anDzbhpLAmbEiMxiHlJA-6A">
  <br>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="Delivery" checked>
      <ion-label>Delivery</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Pickup">
      <ion-label>Pickup</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'Delivery'"> </ion-list>

    <ion-list *ngSwitchCase="'Pickup'">
      <img src = "https://lh6.googleusercontent.com/KgoB32xMBAJPjoqmSI89QEpxsJZ53TPQTz-Xi9mWHO7b5ytK73Ca2UPgEyB2HsvyNmtaU6KhRyiBzqMBTKuSfS-u-7DCoo7y0svdngnAZxvLD5q9jCysdUDIyLT6XthaIlYSnVL8">
    </ion-list>
  </div>
  <img src =
  "https://lh5.googleusercontent.com/IYCiJ1camxow6SHr-69VN_x6fm1WFrYAi1rZaQMLXuhft2rndUDxv5G40DA0cDRUjD1TaGciwFhjZIRfaYLip2aNnNqN-RgjRW_MlaSiSjmQTiMH8RRcan6v4tMLKc6V9c6AB0-t">
  <img [routerLink]="['payment']" src = "https://lh6.googleusercontent.com/1QBRx-9OlojzBOSIIIeuGcVG8Agdp6YranC3KQte6ZUVzK-_mgZjCXNoe1XcVZYx4i25KS89oCAFH-vjowehzWRMozzC3MQh81KDoSnZUEyodxAGoJezsZZuOUqmYL6nCfn9jUtQ">
</ion-content>