<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login/Signup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-textarea placeholder="Email:"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Password:"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Address:"></ion-textarea>
  </ion-item>

  <ion-button expand="full" color="secondary">Sign up as Customer</ion-button>

  <ion-button expand="full" color="secondary">Sign up as Farmer</ion-button>

</ion-content>