<ion-content [fullscreen]="true">
  <div id="logo"> <img src="https://lh5.googleusercontent.com/uZHpBfVBeRFFv7km5JOc3MzvzVqPr12uKP7GVaUbK1gdeJK0Ts8ftUyGMgj0yF05eDqu0zOOi2zhIJmovUDM3rz7Px_zf18M7dHaPLR5NRENU4em-9SaJSwwFnWsLDAv-89tVU_k">
  </div>
  <ion-textarea class="input" placeholder="Email:"></ion-textarea>
  <ion-textarea class="input" placeholder="Password:"></ion-textarea>

  <ion-button id="button" expand="block" color="primary">Login</ion-button>
  <ion-label class="text"> Need an Account?</ion-label>
  <ion-label class = "text" id = 'link'> Sign Up</ion-label>
</ion-content>