ion-content {
  --ion-background-color: #ffebeb;
}
ion-avatar {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100% !important;  
  height : 100% !important;  
  max-width: 100px !important;  //any size
  max-height: 100px !important;
  border: 4px solid #FFFFFF !important;
}
]