<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">Miss P</ion-title>
    <ion-button [routerLink]="['cart']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-avatar>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Woman-Farmer.jpg"
  />
</ion-avatar>
<ion-label> Based in San Jose</ion-label>
<ion-content class="ion-padding">
  <ion-segment
    color="primary"
    [(ngModel)]="type"
    (ionChange)="segmentChanged($event)"
    scrollable
  >
    <ion-segment-button value="Posts" checked>
      <ion-label>Posts</ion-label>
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Selling">
      <ion-label>Selling</ion-label>
      <ion-icon [name]="cash"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'Posts'"> </ion-list>

    <ion-list *ngSwitchCase="'Selling'">
      <ion-item>
        <ion-thumbnail slot="start">
          <img
            src="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2017/04/24170631/ING-butter-lettuce-main.jpg"
          />
        </ion-thumbnail>
        <ion-segment-button value="Selling" checked (click)="cart()">
          <ion-label>Boston Lettuce</ion-label>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-segment-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
