ion-content {
  --ion-background-color: #ffebeb;
}

#avatar {
  position: relative;
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  height: 100% !important;
  max-width: 160px !important; //any size
  max-height: 160px !important;
}

.text {
  display: flex;
  justify-content: center;
  color: #d91919;
  font: Inter;
  font-style: normal;
  font-weight: 525;
}
#name {
  font-size: 2em;
}
#cart {
  position: absolute;
  top: 16px;
  right: 16px;
}
#back {
  position: absolute;
  top: 16px;
  left: 16px;
}
#star {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#rectangle {
  background-color: #d91919;
  width: 120%;
  height: 35%;
  z-index: -100;
  margin: -30px;
  margin-bottom: -115px;
}
.posts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
